.text-color{
    color: #FA804C !important;
}
.d-color{
    color: #363958 !important;
}



.bg-secondary-color{
    background-color: #F1F1F1 !important;
}

.price-color{
    color: #FA804C !important;
}

.title-color{
    color: #363958 !important;
}